.collage-flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: vw(60);
    margin-left: vw(184);
    position: relative;
    z-index: 3;
}

.collage-info {
    position: relative;
    margin-top: vw(83);
    width: vw(830);
    padding: vw(52) vw(51) vw(52) vw(150);
    border-radius: vw(20);
    box-sizing: border-box;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), url(12421412412.jpg);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);

    &__logo {
        position: absolute;
        top: 52px;
        left: 50px;
        width: 70px;
        height: 70px;
    }

    &__type {
        color: #2D3A67;
        font-family: 'Montserrat', sans-serif;
        font-size: 32px;
        font-weight: 600;
        line-height: 39px;
    }

    &__title {
        margin-top: 2px;
        color: #76BC21;
        font-size: 95px;
        font-weight: bold;
        line-height: 1;
    }

    &__go {
        margin-top: 17px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #27376B;
        font-size: 30px;
        font-weight: bold;
        line-height: 30px;
    }

    img {}
}

.collage-info__go-link {
    display: block;
    transition-duration: .2s;
    text-decoration: underline;
    color: #f440bc;

    &:hover {
        text-decoration: none;
    }

    &:active {}

    &:focus {}
}

.collage-info__socials {
    margin-top: 17px;
}

.share-socials {
    display: flex;
}

.share-social {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 59px;
    height: 59px;
    transition-duration: .4s;
    border-radius: 50px;
    background: #27376B;

    img {
        display: block;
        width: 30px;
        height: 30px;
        object-fit: contain;
        object-position: center center;
    }

    &:hover {
        background: #76AA4E;
    }

    &:active {}

    &:focus {}

    &:not(:last-child) {
        margin-right: 17px;
    }
}

.collage-recipe {
    flex-grow: 1;
    margin-top: 78px;
    margin-left: 20px;
}

.collage-recipe-pics {
    position: relative;
    width: 826px;
    height: 369px;

    &__pic {
        position: absolute;
        display: block;
        height: auto;
        object-fit: contain;
        object-position: center center;

        &--sauce {
            top: 32px;
            left: 65px;
            width: 87px;
            transform: rotate(-18.78deg);
        }

        &--pizza {
            left: 178px;
            width: 369px;
        }

        &--mayonnaise {
            top: 67px;
            right: 43px;
            width: 182px;
            transform: rotate(26.53deg);
        }
    }
}

.collage-recipe-info {
    margin-top: 15px;
    margin-right: 88px;
    text-align: center;

    &__name {
        display: block;
        text-align: center;
        text-transform: uppercase;
        color: #76BC21;
        font-size: 30px;
        font-weight: bold;
        line-height: 30px;
    }

    &__view {
        display: block;
        margin-top: 10px;
        text-align: center;
        color: #27376B;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: bold;
        line-height: 22px;
        text-decoration-line: underline;

        &:hover {}

        &:active {}

        &:focus {}
    }
}

.wrapper {
    &--collage {
        position: relative;

        height: auto;
        min-height: 100%;
        transition-duration: .5s;
        opacity: 0;
        background-repeat: no-repeat, no-repeat;
        background-position: top center, center center;
        background-size: 100% auto, cover;

        &-visible {
            opacity: 1;
        }

        .collage-info {
            &::after {
                position: absolute;
                right: -60px;
                bottom: -60px;
                display: block;
                width: 241px;
                height: 194px;
                content: '';
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
            }
        }

        &-hawaii {
            background-image: url(../img/collage/topHawaii.png), url(../img/collage/bgHawaii.png);

            .collage-info {
                &::after {
                    right: -81px;
                    bottom: -60px;
                    background-image: url(../img/collage/Hawaii.png);
                }

                &__type {
                    &::before {
                        content: 'Гавайская вечеринка';
                    }
                }

                &__title {
                    &::before {
                        content: 'Все будет “Aloha”! ';
                    }
                }

                &__go-link-name {
                    &::before {
                        content: 'Гавайская вечеринка';
                    }
                }
            }
        }

        &-disco {
            background-image: url(../img/collage/topDisco.png), url(../img/collage/bgDisco.png);

            .collage-info {
                &::after {
                    width: 238px;
                    height: 241px;
                    background-image: url(../img/collage/Disco.png);
                }

                &__type {
                    &::before {
                        content: 'Вечеринка в стиле диско';
                    }
                }

                &__title {
                    &::before {
                        content: 'Все будет “Top”!';
                    }
                }

                &__go-link-name {
                    &::before {
                        content: 'Вечеринка в стиле диско';
                    }
                }
            }
        }

        &-gatsby {
            background-image: url(../img/collage/topGatsby.png), url(../img/collage/bgGatsby.png);

            .collage-info {
                &::after {
                    right: -15px;
                    bottom: -30px;
                    width: 132px;
                    height: 177px;
                    background-image: url(../img/collage/Gatsby.png);
                }

                &__type {
                    &::before {
                        content: 'Вечеринка в стиле Гэтсби';
                    }
                }

                &__title {
                    &::before {
                        content: 'Все будет “OK”!';
                    }
                }

                &__go-link-name {
                    &::before {
                        content: 'Вечеринка в стиле Гэтсби';
                    }
                }
            }
        }

        &-rock {
            background-image: /*url(../img/collage/topRock.png),*/ url(../img/collage/bgRock.png);

            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;

            .collage-info {
                &::after {
                    right: -36px;
                    bottom: -25px;
                    width: 175px;
                    height: 145px;
                    background-image: url(../img/collage/Rock.png);
                }

                &__type {
                    &::before {
                        content: 'Рокерская вечеринка';
                    }
                }

                &__title {
                    &::before {
                        content: 'Все будет “ROCK”!';
                    }
                }

                &__go-link-name {
                    &::before {
                        content: 'Вечеринка в стиле рок';
                    }
                }
            }
        }

        &-asian {
            background-image: url(../img/collage/topAsian.png), url(../img/collage/bgAsian.png);

            .collage-info {
                &::after {
                    right: -70px;
                    bottom: -38px;
                    width: 202px;
                    height: 157px;
                    background-image: url(../img/collage/Asian.png);
                }

                &__type {
                    &::before {
                        content: 'Азиатская-вечеринка';
                    }
                }

                &__title {
                    &::before {
                        content: 'Все будет “精細”!';
                    }
                }

                &__go-link-name {
                    &::before {
                        content: 'Вечеринка в стиле азии';
                    }
                }
            }
        }

        &-chelentano {
            background-image: url(../img/collage/topChelentano.png), url(../img/collage/bgChelentano.png);

            .collage-info {
                &::after {
                    right: -39px;
                    bottom: -9px;
                    width: 165px;
                    height: 154px;
                    background-image: url(../img/collage/Chelentano.png);
                }

                &__type {
                    &::before {
                        content: 'Строптивая Челентано-вечеринка';
                    }
                }

                &__title {
                    &::before {
                        content: 'Все будет “Bueno”!';

                    }
                }

                &__go-link-name {
                    &::before {
                        content: 'Вечеринка в стиле челентано';
                    }
                }
            }
        }

        &-mexico {
            background-image: url(../img/collage/topMexico.png), url(../img/collage/bgMexico.png);

            .collage-info {
                &::after {
                    display: none;
                    /* background-image: url(../img/collage/Mexico.png);
                    width: 165px;
                    height: 154px;
                    right: -39px;
                    bottom: -9px;*/
                }

                &__type {
                    &::before {
                        content: 'Мексиканская вечеринка';
                    }
                }

                &__title {
                    &::before {
                        content: 'Все будет “супер”!';
                    }
                }

                &__go-link-name {
                    &::before {
                        content: 'Мексиканская вечеринка';
                    }
                }
            }
        }
    }
}

.collage-persons {
    position: relative;
    z-index: 1;
    display: flex;
    flex-grow: 1;
    justify-content: center;

    .collage-person {
        position: relative;
        top: 0;
        top: -47px;
        display: block;
        overflow: hidden;
        width: 16.666%;

        &::before {
            display: block;
            padding-top: 175%;
            content: '';
        }

        &--1 {
            //  width: 279px;
            //left: 621px;
        }

        &--2 {
            // width: 283px;
            //left: 868px;
        }

        &--3 {
            // width: 323px;
            //left: 1182px;
        }

        &--4 {
            // width: 229px;
            //left: 456px;
        }

        &--5 {
            // width: 335.22px;
            //left: 1417px;
        }

        &--6 {
            //width: 280px;
            //left: 172px;
        }

        &__head {
            position: absolute;
            z-index: 1;
            &--1{
                width: vw(72);
                left: vw(141);
                top: vw(39);
            }
            &--2{
                width: vw(74);
                left: vw(157);
                top: vw(111);
            }
        }

        &__name {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            font-weight: bold;
            font-size: vw(24);
            line-height: vw(24);
            text-align: center;
            text-transform: uppercase;
            text-align: center;
            max-width: vw(160);
            z-index: 2;
        }


        &__anim {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none;
        }

        &.type{
            &-m{
                .collage-person__name{
                    color: #161940;
                    top: vw(214);
                    margin-left: vw(10);
                }

            }
            &-w{
                .collage-person__name{
                    color: #ffffff;
                    top: vw(305);
                }
            }
        }
    }
}

@import 'collage-adaptive';